@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #242423;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

main {
  min-height: 100vh;
  position: relative;
  padding-bottom: 14rem;
}

.tippy-popper > * {
  font-size: 1rem !important;
  line-height: 1rem;
  font-family: "Arial", sans-serif !important;
  font-weight: 500;
}